@import "tailwindcss";

:root {
  --background: #1A1E2E;
  --foreground: #E0E0E0;
  --primary: #94d3bf;
  --surface: #121212;
  --surface-light: #242838;
  --muted: #9CA3AF;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-surface: var(--surface);
  --color-surface-light: var(--surface-light);
  --color-muted: var(--muted);
  --font-sans: var(--font-inter);
}

body {
  background: var(--background);
  color: var(--foreground);
}

html {
  scroll-behavior: smooth;
}
